---
layout: default
---
<h3>About</h3>

<p>A summary of sensor data provided by a certain API endpoint.</p>

<p>This was view was built mainly to check that sensors (labelled with IDs) are active in a region. Especially ones
    which have been turned on for the first time. Further details on sensors are provided as an extra.</p>

<p>While not as visual as a map (which already exists on the original project's site), the view is still a lot easier to
    scan quickly as a table rather than as the source JSON data.</p>

<h3>Metadata for datasource</h3>

<ul>
    <li>Source: <a href="//{{ page.data.url }}">{{ page.data.label }}</a></li>
    <li>Description: {{ page.data.description }}</li>
    <li>Filtered to countries: {{ page.data.countries }}</li>
</ul>

<h3>Report</h3>

{{ content }}
